@font-face {
    font-family: "TimeBomb";
    src: url('../assets/TickingTimebombBB.ttf');
  }

.a-box {
    display: flex;
    border-style: solid;
    justify-content: center;
    align-items: center;  
    font-family: "TimeBomb";
    margin: 5%;
    font-size:5vmin; 
    padding-top:5%;
    background-color: rgb(101, 90, 148);
    grid-area: 4/1;
  }
  