@font-face {
    font-family: "TimeBomb";
    src: url('../assets/TickingTimebombBB.ttf');
  }

.a-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-size: 28px;
    font-family: "TimeBomb";
    padding: 2pt 5pt;
    background-color: rgb(30, 16, 85);
  }
  