.Month_Progress_Line{
    display: flex;
    border-style: solid;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 90, 148);
    position: relative;
    grid-area: 1/1/span 1/span 5;
  }