.Month_Progress_Line{
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    border-style: solid;
    background-color: rgb(101, 90, 148);*/
    position: relative;
    grid-area: 1/1/span 1/span 5;
  }

  .DayBlocks{
    stroke: white;
    stroke-width: 0.5;
  }
  