.Media{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: rgb(101, 90, 148);
    position: relative;
    grid-area: 7/5/span 2/span 1;
  }