.Notepad {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    background-color: rgb(101, 90, 148); */
    position: relative;
    grid-area: 2/5/span 5/span 1;
    border-top: 0pt;
  }

.TabLine {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.4vmin;
    justify-content: left;
    align-items: center;
    padding:1%;
    position: absolute;
    top:0vmin;
    left:0%;
    width: 88%;
    text-align: center;

    
    /* border-style: solid;
    border-width: 1pt;
    color: cyan; */
  }

.Tab {
    padding:1%;
    margin-top: 0%;
    width:9.5vmin;
    overflow:hidden;
    font-size:2vmin; 
    font-weight: 700;
    text-align: center;
    color: cyan;
  }

  .TabUP {
    margin-top: 0%;
    padding:0.5%;
    position:absolute;/* 
    top:1%;
    left:94%;
    font-size:1vmin; 
    transform: scaleX(3); */
    top:0vmin;
    left:96%;
    font-size:2vmin; 
    font-weight: 700;
    text-align: center;
    background-color: rgb(59, 53, 145);
    color: white;
  }
  .TabDOWN {
    margin-top: 0%;
    padding:0.5%;
    position:absolute;/* 
    top:-1.5%;
    left:94%;
    font-size:1vmin; 
    transform: scaleX(3) rotate(180deg); */
    top:0vmin;
    left:90%;
    transform:rotate(180deg); 
    font-size:2vmin; 
    font-weight: 700;
    text-align: center;
    background-color: rgb(59, 53, 145);
    color: white;
  }


.Year {
    font-size:2.65vmin; 
    font-weight: 700;
    position: absolute;
    top:73%;
    text-align: center;
    color: cyan;
  }

  .Notebook_Text {
    position: absolute;
    top:5%;
    left:0%;
    height:94%;
    width:100%;
     background-color: rgb(101, 90, 148);
    border: 2px solid rgb(255, 255, 255); 
    word-wrap:normal;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    overflow:hidden;
  }