.Notepad {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    background-color: rgb(101, 90, 148); */
    position: relative;
    grid-area: 2/5/span 5/span 1;
    border-top: 0pt;
  }
  .ButtonLine {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 2%;
    grid-template-rows: 5% 5% 5% 5%;
    justify-content: center;
    align-items: center;
    padding:1%;
    position: absolute;
    top:5%;
    left:88.5%;
    width:10%;
    height:93%;
    text-align: center;
 /*    border-color: wheat;
    border-style: solid; */
  }

.TabLine {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2%;
    grid-template-columns: 29% 29% 29% 4.5% 4.5%;
    justify-content: left;
    align-items: center;
    padding:2%;
    position: absolute;
    top:-1.9%;
    left:-1%;
    width: 98%;
    text-align: center;
  }

.Tab {
    padding:0.5%;
    overflow:hidden;
    font-size:2vmin; 
    font-weight: 700;
    text-align: center;
    color: cyan;
  }

  .TabUP {
    padding:0.5%;
    font-size:2vmin; 
    font-weight: 700;
    text-align: center;
    color: cyan;
  }
  .TabDOWN {
    padding:0.5%;
    transform:rotate(180deg); 
    font-size:2vmin; 
    font-weight: 700;
    text-align: center;
    color: cyan;
  }
  .SideButn {
    padding:10%;
    font-size:65%; 
    font-weight: 700;
    width:115%;
    text-align: center;
    background-color: rgb(59, 53, 145);
    color: white;
  }


  .Notebook_Text {
    position: absolute;
    top:5%;
    left:0%;
    height:94%;
    width:88%;
    background-color: rgb(101, 90, 148);
    border: 2px solid rgb(255, 255, 255); 
    word-wrap:normal;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    overflow:hidden;
  }
  .Notebook_Edge {
    position: absolute;
    top:5%;
    left:0%;
    height:94%;
    width:100%;
    word-wrap:normal;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    overflow:hidden;
    background-color: rgb(74, 74, 77);

   /*  border-style: solid;
    border: 2px solid rgb(255, 255, 255);  */
  }
  .Notebook_TopLine {
    position: absolute;
    top:0%;
    left:0%;
    height:99%;
    width:100%;
    background-color: rgb(74, 74, 77);
    word-wrap:normal;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    overflow:hidden;

    /* border-style: solid;
    border: 2px solid rgb(255, 255, 255);  */
  }