.Triage_Bubble {
    border-style:solid;
    border-radius: 2.8vmin;
    font-size: 3vmin;
    background-color: rgb(101, 90, 148);
    position: relative;
    grid-area: 2/3/span 1/span 2;
  }

  .wrapper-parent{
    height:100%;
    width:100%;
    overflow: clip;
  }

  .Triage_Tag {
    background-color: rgb(116, 203, 129);
    width: min-content;
    height: min-content;
    margin-top: -0.5%;
    margin-left: -0.5%;
    border-style: solid;
    border-radius: 2.8vmin;
    padding:0.5% 2% 1.1% 2%;
    float: left;
    justify-content: center;
    align-items: center;
  }

  .Triage_Text {
    height:100%;
    width: 100%;
    background-color: rgb(154, 154, 35);
    border: 2px solid blue;
    border-radius: 2.8vmin;
    text-overflow: ellipsis;
    word-break: break-all;
  }
