.TabsGrid {
    display: grid;
    margin: auto;
    grid-auto-flow: row;
    margin-bottom: 6%;
  }
.TabGridLine {
    display: grid;
    margin: 1.5% 20%;
    grid-auto-flow: row;
    grid-template-columns: 70% 10% 10% 10%;
    grid-gap: 2%;
  }

.NoteName {
    color: black;
    text-align:left;
    font-size: 3vmin;
  }

.IcnBtn {
    padding: 10%;
    background-color: transparent;
  }

  