.NotepadToolbar {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2%;
    grid-template-columns: 9% 9% 10% 10% 10% 10% 10% 10% 10%;
    justify-content: left;
    align-items: center;
    padding:2%;
    position: absolute;
    top:90.8%;
    left:-1%;
    height:10%;
    width: 98%;
    text-align: center;
    }
  
.TButton {
      padding:10%;
      background-color: transparent;
    }

  .w-color-sketch {
      --sketch-background: #323232 !important;
      --sketch-swatch-border-top: 1px solid #525252 !important;    
    }