.TasksGrid {
    display: grid;
    margin: auto;
    grid-auto-flow: row;
    margin-bottom: 6%;
  }
.TasksGridLine {
    display: grid;
    margin: 0.7% 6%;
    grid-auto-flow: row;
    grid-template-columns:1.7% 1.7% 1.7% 1.7% 48% 18% 14%;
    grid-gap: 2%;
  }
.TasksButtonsLine {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-start: 7 ;
  }

.TaskName {
    color: black;
    text-align:left;
    font-size: 3vmin;
  }


.TaskDDL {
  color: black;
  text-align: right;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  padding-bottom:0vmin;
  font-size: 2vmin;
  grid-column-start: 6;
}

.VarietyButtonLine {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-start: 6;
}

.DeadlineDate{
  background-color: transparent;
  border: none;
  vertical-align: bottom;
  font-size: 2vmin;
  padding: 0;
  margin: 0;
  color: black;
}

.DatepickerDiv{
  position:relative;
  top: 32%;
  vertical-align: bottom;
  color: blueviolet;
}
