.TasksGrid {
    display: grid;
    margin: auto;
    grid-auto-flow: row;
    margin-bottom: 6%;
  }
.TasksGridLine {
    display: grid;
    margin: 0.7% 6%;
    grid-auto-flow: row;
    grid-template-columns:1.7% 1.7% 1.7% 1.7% 48% 17% 14%;
    grid-gap: 2%;
  }
.TasksButtonsLine {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-start: 7 ;
  }

.TaskName {
    color: black;
    text-align:left;
    font-size: 3vmin;
  }


.TaskDDL {
  color: black;
  text-align: right;
  margin: 0;
  padding: 0;
  padding-top:0.5vmin;
  font-size: 2vmin;
  grid-column-start: 6;
}
.VarietyButtonLine {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-start: 6;
}